##################### Hostnames and Domains #####################
base_domain: 
coh_hostname: coh

##################### Slack #####################
slack_channel: 
slack_token: 

##################### Timezone #####################
timezone: America/New_York

##################### Cert generation #####################
cert_country: 
cert_state: 
cert_local: 
cert_org: 