[manager]
manager ansible_ssh_host=3.3.3.3 ansible_python_interpreter=/usr/bin/python3 timeout=30

[honeypot]
1.2.3.4

[honeypot:children]
cowrie
elastichoney
thunderwagon

[cowrie]
# CentOS host
honeypot01 ansible_ssh_host=1.1.1.1 ansible_port=6969 timeout=30
# Ubuntu host
honeypot02 ansible_ssh_host=2.2.2.2 ansible_port=6969 timeout=30 ansible_python_interpreter=/usr/bin/python3 timeout=30

[elastichoney]

[thunderwagon]