[Unit]
Description=Apache Flink
           
[Service]
Type=forking
User={{ flink_user }}
Group={{ flink_user }}
ExecStart=/opt/flink/bin/start-local.sh
ExecStop=/opt/flink/bin/stop-local.sh 
Restart=always
           
[Install]
WantedBy=default.target